@mixin main-button {
    width: 150px;
    height: 44px;
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #f22539;
    cursor: pointer;
}